@import "../../../assets/styles/colors";

.suggestions {
	border: 1px solid $light-grey-1;
	padding: 16px 19px;
	display: flex;
	flex-direction: column;
	gap: 16px;

	.suggestion {
		display: flex;
		flex-direction: column;
		gap: 4px;
		background: $white-darker;

		color: $dark-grey;
		cursor: pointer;

		&_name {
			font-size: 14px;
			line-height: 20px;
		}

		&_info {
			display: flex;
			flex-direction: row;
			gap: 25px;
			font-size: 12px;
			line-height: 17px;

		}
	}
}